{{ define "main" }}
<article class="note-scroll note-scroll-single">
    <div class="note-content">
        {{ .Content }}
    </div>
    <div class="note-meta">
        <span class="note-date">{{ .Date.Format "January 2, 2006" }}</span>
    </div>

    {{/* Conversations/Webmentions */}}
    {{ if .Site.Params.conversation }}
    <div id="conversation">
        <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
    </div>
    {{ end }}
</article>
{{ end }}
